nav > ul { 
    display: flex;
}
/* nav > ul mana immadate child tag k style kora */
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    border-radius: 2px;
}
nav li:hover{
    background-color: beige;
}
nav ul a{
    text-decoration: none;
    color: black;
}

/* nested menu */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: aliceblue;
}

nav li:hover .dropdown{
    display: block;
}
